:root {
  --red: #f9032f;
  --black: #001011;
  --white: #fff;
  --gray: #f4f4f4;
  --blue: rgb(15, 6, 95);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", "Edu NSW ACT Foundation", sans-serif;
}
.navbar {
  background: var(--black);
  height: 60px;
  padding: 0.5rem calc((100vw - 1200px) / 2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.navbar_logo {
  color: var(--white);
  font-family: "Edu NSW ACT Foundation", sans-serif;
  font-weight: bold;
  text-decoration: none;
  padding-left: 1rem;
  font-size: 1.5rem;
}
.navbar_link {
  color: var(--white);
  text-decoration: none;
  padding: 1rem 1rem;
}
.navbar_link:hover {
  color: var(--red);
  border-bottom: 2px solid var(--red);
}
@media screen and (max-width: 768px) {
  body.active {
    overflow-y: hidden;
    overflow-x: hidden;
  }
  .navbar_link {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .navbar_menu {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 100px);
    position: absolute;
    width: 100%;
    top: -1000px;
  }
  .navbar_menu.active {
    top: 100%;
    opacity: 1;
    z-index: 99;
    height: 100vh;
    font-size: 1.5rem;
    background: var(--black);
  }

  .navbar_toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: var(--white);
    display: block;
    cursor: pointer;
  }
  #mobile-menu {
    position: absolute;
    top: 15%;
    right: 5%;
    transform: translate(5%, 20%);
  }
  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }
  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

/* hero */
.hero {
  /* background: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1)),
    url("./images/gym-1.jpg"); */
  background-color: #e6e9f0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23001011' fill-opacity='0.1'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-position: center;
  height: 100vh;
  padding: 0.5rem calc((100vw - 1200px) / 2);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.hero_content {
  color: var(--black);
  padding: 3rem 1rem;
  line-height: 1;
}
.hero_content h1 {
  font-size: clamp(2rem, 8vw, 3rem);
  font-family: "Edu NSW ACT Foundation", sans-serif;
  font-weight: bolder;
  /* text-transform: uppercase; */
  margin-bottom: 0.5rem;
}
.hero_content .hero_bottom {
  font-size: clamp(1rem, 4vw, 2rem);
  margin-top: 2rem;
  line-height: 1.2;
  width: 60%;
}
.hero_content .hero_top {
  font-size: clamp(1rem, 4vw, 2rem);
  margin-bottom: 2rem;
}
@media screen and (max-width: 768px) {
  .hero_content .hero_bottom {
    width: 100%;
  }
}

.button {
  padding: 1rem 2rem;
  border: none;
  background: var(--red);
  color: var(--white);
  font-size: 1rem;
  cursor: pointer;
  outline: none;
  transition: 0.3s ease-in-out;
  text-decoration: none;
  border-radius: 4px;
}
.button:hover {
  background: var(--blue);
}
.button1 {
  padding: 20px;
  border: none;
  text-decoration: none;
  border-radius: 4px;
  background-color: var(--red);
  color: var(--white);
}
.button1:hover {
  background-color: var(--blue);
}
/* about section */
.about {
  background-color: #e6e9f0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23001011' fill-opacity='0.1'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  height: 100vh;
  /* background-position: center; */
  /* background-size: co; */
  text-align: center;
  padding: 50px 0;
  overflow: scroll;
}

.about-heading {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.about-description {
  font-size: 1.2rem;
  line-height: 1.5;
  padding: 0 100px; /* Add some horizontal padding for larger screens */
}

.skills-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 30px;
}

.skill-card {
  margin: 15px;
  padding: 20px;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  text-align: center;
  width: calc(30% - 30px);
}

.skill-card:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.card-icon {
  background-color: #02232567;
  padding: 1rem;
  border-radius: 100%;
  font-size: 2rem;
  margin-bottom: 10px;
  color: #333;
}

.skill-card h3 {
  font-size: 1.1rem;
  margin-bottom: 10px;
}

.skill-card p {
  font-size: 0.9rem;
  line-height: 1.3;
}

/* Responsiveness */
@media (max-width: 768px) {
  .about-description {
    padding: 0 20px;
  }
  .skills-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .skill-card {
    width: 80%;
  }
}
.primary-button {
  margin-top: 1rem;
  font-family: "Ropa Sans", sans-serif;
  color: white;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 0.05rem;
  border: 1px solid #0e1822;
  padding: 0.8rem 2.1rem;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 531.28 200'%3E%3Cdefs%3E%3Cstyle%3E .shape %7B fill: %23FF4655 /* fill: %230E1822; */ %7D %3C/style%3E%3C/defs%3E%3Cg id='Layer_2' data-name='Layer 2'%3E%3Cg id='Layer_1-2' data-name='Layer 1'%3E%3Cpolygon class='shape' points='415.81 200 0 200 115.47 0 531.28 0 415.81 200' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
  background-color: #0e1822;
  background-size: 200%;
  background-position: 200%;
  background-repeat: no-repeat;
  transition: 0.3s ease-in-out;
  transition-property: background-position, border, color;
  position: relative;
  z-index: 1;
}

.primary-button:hover {
  border: 1px solid #ff4655;
  color: white;
  background-position: 40%;
}

.primary-button:before {
  content: "";
  position: absolute;
  background-color: #0e1822;
  width: 0.2rem;
  height: 0.2rem;
  top: -1px;
  left: -1px;
  transition: background-color 0.15s ease-in-out;
}
.primary-button a {
  text-decoration: none;
  color: white;
}

.primary-button:hover:before {
  background-color: white;
}

.primary-button:hover:after {
  background-color: white;
}

.primary-button:after {
  content: "";
  position: absolute;
  background-color: #ff4655;
  width: 0.3rem;
  height: 0.3rem;
  bottom: -1px;
  right: -1px;
  transition: background-color 0.15s ease-in-out;
}

.shape {
  fill: #0e1822;
}

/* contact section */
main {
  padding: 70px;
  display: flex;
  justify-content: center;
}

.contact-info {
  width: 400px;
  background-color: #fff;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.contact-info ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.contact-info li {
  margin-bottom: 15px;
  font-size: 1.1rem;
}

.contact-info i {
  margin-right: 10px;
  color: #333;
  font-size: 1.2rem;
}

a {
  color: #333;
  text-decoration: none;
}

.contact-button {
  background-color: var(--red);
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-top: 20px;
}

.contact-button:hover {
  background-color: var(--blue);
}
/* apply section */
.apply_container {
  background-color: #f4ebef;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%233b0d0d' fill-opacity='0.17' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
  height: 100vh;
  background-position: center;
  background-size: cover;
  text-align: center;
  background-blend-mode: color-burn;
  background-repeat: no-repeat;
}
.contact-info,
.collaboration-form {
  width: 400px;
  background-color: var(--gray);
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.contact-info {
  text-align: center;
}

.collaboration-form {
  .form-group:first-child {
    margin-top: 0;
  }
}

.contact-info ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.contact-info li {
  margin-bottom: 15px;
  font-size: 1.1rem;
}

.contact-info i {
  margin-right: 10px;
  color: #333;
  font-size: 1.2rem;
}

a {
  color: #333;
  text-decoration: none;
}

.collaboration-form .form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input,
textarea {
  outline: none;
  width: 100%;
  padding: 10px;
  border: none;
  background-color: rgba(181, 173, 173, 0.516);
  border-radius: 4px;
}

input:focus,
textarea:focus {
  outline: none;
  border: 1px solid var(--blue);
  background-color: rgba(181, 173, 173, 0.516);
}

textarea {
  resize: vertical;
}

button {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

button:hover {
  background-color: #222;
}

footer {
  background-color: #f0f0f0;
  padding: 10px;
  text-align: center;
}

/* Responsiveness */
@media (max-width: 768px) {
  main {
    flex-direction: column; /* Stack sections on top of each other for small screens */
    align-items: center; /* Center sections horizontally */
  }

  .contact-info,
  .collaboration-form {
    width: 100%; /* Make sections full width on small screens */
    margin-bottom: 20px; /* Add some spacing between sections */
  }
}

/* footer */
.footer {
  padding: 5rem calc((100vw - 1100px) / 2);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  color: var(--white);
  background: var(--black);
}
.footer_desc {
  padding: 0 2rem;
}
.footer_desc h1 {
  margin-bottom: 2rem;
  color: var(--red);
  font-size: 1.5rem;
}
.footer_desc p {
  margin-bottom: 1rem;
}
#phone {
  font-weight: bold;
  font-size: 1.2rem;
}
.footer_wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.footer_links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem 2rem;
}
.footer_title {
  font-size: 14px;
  margin-bottom: 16px;
}
.footer_link {
  text-decoration: none;
  color: rgb(242, 242, 242);
  font-size: 14px;
  margin-bottom: 0.5rem;
  transition: 0.3s ease-in-out;
}
.footer_link:hover {
  color: var(--red);
}

@media screen and (max-width: 820px) {
  .footer_wrapper {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 400px) {
  .footer_desc {
    padding: 1rem;
  }
  .footer_links {
    padding: 1rem;
  }
}
